apiVersion: apps/v1
kind: Deployment
metadata:
  name: non-compliant-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bad-app
  template:
    metadata:
      labels:
        app: bad-app
    spec:
      containers:
      - name: bad-container
        image: nginx:alpine
