apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'argocd'
        static_configs:
          - targets: ['argocd-application-controller-metrics.argocd.svc.cluster.local:8082', 'argocd-server-metrics.argocd.svc.cluster.local:8083']
